# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
dist/

# dotenv environment files
.env
client/.env
server/.env

# OS-related
.DS_Store
Thumbs.db
